/* {{ cookiecutter.generated_file_header }}
 * {{ cookiecutter.dont_edit_header }}
 */

/* Missing style for nodes.system_message from Alabaster. */
.system-message {
    background-color: #fda;
    padding: 5px;
    border: 3px solid red;
}
